###############################################################################
# Please modify this file if you want to configure your own application.
# You can uncommon and/or change the following Kconfig elements.
###############################################################################


if ROOTFS_COMPONENT_APPS_NAME_STARTMIDI
	comment "No additional options for STARTMIDI"

# 	config APPS_STARTMIDI_OPTION0
#	bool "option0"
#	help
#	  Help text
endif
